{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record["stock"] }}</td>
                    <td>{{ record["shares"] }}</td>
                    <td>{{ record["purchase_price"] }}</td>
                    <td>{{ record["datetime"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}